body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  color: #4caf50;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  transition: transform 0.2s ease;
}

li:hover {
  transform: scale(1.03);
}

a {
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Esto asegura que la imagen cubra el área sin distorsionarse */
  border-radius: 8px; /* Agrega bordes redondeados si lo deseas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centra los productos en la fila */
}

.product-item {
  text-align: center; /* Centra el contenido del producto */
  max-width: 120px; /* Limita el tamaño máximo del item */
}
button {
  padding: 10px 20px;
  margin: 10px auto;
  display: block;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

div.CartWidget {
  text-align: right;
  margin-right: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
